@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Work Sans';
    src: url('../../../Work_Sans/WorkSans-VariableFont_wght.ttf');
}
:root {
    --max-char: 60ch;
    /* Color */
    --color-black: #000;
    --color-lighter-black: #1F1F1F;
    --color-dark-gray: #353535;
    --color-darker-gray: #313628;
    --color-white: #fff;
    --color-primary: #645DD7;
    --color-secondary: #f0c808;
    --text-light-theme: var(--color-lighter-black);
    --text-dark-theme: var(--color-lighter-black);
    --text-color: var(--text-light-theme);
    --bg-light-theme: var(--color-white);
    --bg-dark-theme: var(--color-black);
    --bg-color: var(--bg-light-theme);
    --link-color: var(--color-primary);
    --btn-color: var(--color-primary);
    --icon-color: var(--color-dark-gray);
    accent-color: var(--color-primary);

    /* Font */
    --base-font-size: 18px;
    --base-font-size: 112.5%; /* 16px * 112.5% = 18px */
    --ratio: 1.618;
    --h5-size: var(--base-font-size);
    --h4-size: var(--base-font-size);
    /* --h4-size: calc(var(--h5-size) * var(--ratio)); */
    --h3-size: calc(var(--h4-size) * var(--ratio));
    --h2-size: calc(var(--h3-size) * var(--ratio));
    --h1-size: calc(var(--h2-size) * var(--ratio));
    --p-size: var(--base-font-size);
    --small-text: calc(var(--base-font-size) / var(--ratio));
    /* Approach 2 to responsive Typography */
    --h5-golden: 1rem;
    --h4-golden: 1rem;
    --h3-golden: 1.618rem;
    --h2-golden: 2.617924rem;
    --h1-golden: 4.235801032rem;
    
    /* --navbar-height: calc(var(--base-font-size) * var(--ratio)); */
    --main-font-family: 'Work Sans', Arial, Helvetica, sans-serif;
}
html {
    font-size: var(--base-font-size);
}
$headers: 1, 2, 3, 4, 5;
@each $num in $headers {
    h#{$num}, .h#{$num} {
        font-size: var(--h#{$num}-size);
    }
}
/* Approach 2 to responsive Typography */
/* End of Approach 2 to responsive Typography */
body {
    margin: 0;
    background-color: var(--bg-color);
    font-family: var(--main-font-family);
    color: var(--text-color);
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
figcaption {
  max-inline-size: 60ch;
}
input,
button {
    font-family: inherit;
}
