@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Work Sans';
    src: url('../../../Work_Sans/WorkSans-VariableFont_wght.ttf');
}
:root {
    // Breakpoints
    --sm: 640px;
    --md: 768px;
    --lg: 1024px;
    --xl: 1280px;
    --2xl: 1536px;

    --max-char: 60ch;

    /* Color */
    --color-black: #000;
    --color-lighter-black: #1F1F1F;
    --color-dark-gray: #353535;
    --color-darker-gray: #313628;
    --color-white: #fff;
    --color-primary: #645DD7;
    --color-secondary: #f0c808;
    --text-light-theme: var(--color-lighter-black);
    --text-dark-theme: var(--color-lighter-black);
    --text-color: var(--text-light-theme);
    --bg-light-theme: var(--color-white);
    --bg-dark-theme: var(--color-black);
    --bg-color: var(--bg-light-theme);
    --link-color: var(--color-primary);
    --btn-color: var(--color-primary);
    --icon-color: var(--color-dark-gray);
    accent-color: var(--color-primary);

    /* Typography */
    --base-font-size: 1rem; 
    --golden-ratio: 1.618;
    --augmented-fourth-ratio: 1.414;
    --h-ratio: var(--augmented-fourth-ratio);
    --h5-size: var(--base-font-size);
    --h4-size: var(--base-font-size);
    /* --h4-size: calc(var(--h5-size) * var(--golden-ratio)); */
    --h3-size: calc(var(--h4-size) * var(--h-ratio));
    --h2-size: calc(var(--h3-size) * var(--h-ratio));
    --h1-size: calc(var(--h2-size) * var(--h-ratio));
    --p-size: var(--base-font-size);
    --small-text: calc(var(--base-font-size) / var(--golden-ratio));
    
    /* --navbar-height: calc(var(--base-font-size) * var(--golden-ratio)); */

    @media (min-width: 640px) {
        --h-ratio: var(--golden-ratio);
    }
}
html {
    --min-vw: 0px;
    --max-vw: 978px;
    font-size: 112.5%;  // 16px * 112.5% = 18px
}
$headers: 1, 2, 3, 4, 5;
@each $num in $headers {
    h#{$num}, .h#{$num} {  // example: h1, .h1 selector
        font-size: var(--h#{$num}-size);
    }
}
body {
    margin: 0;
    background-color: var(--bg-color);
    font-family: Helvetica, Arial, sans-serif;
    color: var(--text-color);
    font-weight: 500;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
figcaption {
  max-inline-size: 60ch;
}
input,
button {
    font-family: inherit;
}